<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-group"></i> Stagiaires</h3>
      </div>
      <div class="panel-body">

        <!-- Filtre de recherche -->
        <div class="row">
          <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">     
              <form class="navbar-form navbar-right">
                <button type="submit" class="btn btn-primary" ng-click="changeDisplayMode(DisplayModeEnum.List)">
                  <span class="fa fa-bars"></span> Vue liste
                </button>
                <button type="submit" class="btn btn-primary" ng-click="changeDisplayMode(DisplayModeEnum.Card)">
                  <span class="fa fa-th"></span> Vue carte
                </button>
                <button type="submit" class="btn btn-primary" ng-click="changeDisplayMode(DisplayModeEnum.Card)">
                  <span class="fa fa-file"></span> Exporter
                </button>
              </form>
              <form class="navbar-form navbar-left">
                <input type="text" class="form-control" placeholder="Recherche" ng-model="critereStagiaire">  
              </form>
            </div>
          </nav>
        </div>

        <!-- Mode affichage liste pour stagiaires -->
        <div class="row" ng-show="listDisplayModeEnabled">
          <div class='gridStyle' ng-grid="gridOptionsStagiaire"></div>
        </div>

        <!-- Mode affichage carte pour stagiaires -->
        <div class="row" ng-hide="listDisplayModeEnabled">
          <div class="row col-lg-12">
            <div class="col-lg-3" data-ng-repeat="stagiaire in stagiaires | filter:critereStagiaire">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-6">
                      <img data-ng-src="images/male.png" class="cardImage" />
                    </div>
                    <div class="col-xs-6 text-right">
                    <p class="announcement-text">{{stagiaire.prenom + ' ' + stagiaire.nom}}</p>
                    </div>
                  </div>
                </div>

                <a href="" ng-click="viewDetails()">
                  <div class="panel-footer announcement-bottom">
                    <div class="row">
                      <div class="col-xs-6">Détails</div>
                      <div class="col-xs-6 text-right">
                        <i class="fa fa-arrow-circle-right"></i>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <!-- Pagination pour le mode d'affichage carte du stagiaire -->
          <div class="col-lg-12">
            <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>  
          </div>
        </div>

      </div> <!-- panel-body -->
    </div> <!-- panel -->
  </div> <!-- col-lg-12 -->
</div> <!-- /row --> 