<div class="modal-header">
	<div class="panel panel-primary">
		<div class="panel-heading">
		  <h3 class="panel-title">
		    <i class="fa fa-group"></i> Détails de la promotion
		  </h3>
		</div>
	</div>
</div>

<div class="modal-body">
	
	<div class="row form-group">
		<div class="col-lg-6 form-group">
	    	<div class="form-group">
	    		Code promotion :
	        	<input class="form-control" type="text" value="AL3" readonly>
	    	</div>
	    	<div class="form-group">
	    		Nombre de stagiaires :
	        	<input class="form-control" type="text" value="12" readonly>
	    	</div>
	    	<div class="form-group">
	    		Année :
	        	<input class="form-control" type="text" value="2012" readonly>
	    	</div>
	    </div>
    </div>
</div>

<div class="modal-footer">
	<button class="btn btn-primary" ng-click="cancel()">Annuler</button>
	<button class="btn btn-primary" ng-click="ok()">Enregistrer</button>
</div>