<div class="panel">
  <a class="btn btn-primary fa fa-arrow-left" href="#/stagiaire">&nbsp;Retour Recherche stagiaire</a>
</div>

<!-- Detail du stagiaire, informations générales -->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-group"></i> D&eacute;tails</h3>
      </div>
      <div class="panel-body">

        <div class="col-lg-2">
            <img src="http://placehold.it/200x200">
        </div>

        <div class="col-lg-5">
          <div class="row">
            <div class="col-lg-6">Nom :</div>
            <div class="col-lg-6">{{stagiaire.nom}}</div>
          </div>

          <div class="row">
            <div class="col-lg-6">Pr&eacute;nom :</div>
            <div class="col-lg-6">{{stagiaire.prenom}}</div>
          </div>

          <div class="row">
            <div class="col-lg-6">Civilit&eacute; :</div>
            <div class="col-lg-6">{{stagiaire.civilite}}</div>
          </div>

          <div class="row">
            <div class="col-lg-6">Date de naissance :</div>
            <div class="col-lg-6">{{stagiaire.dateNaissance}}</div>
          </div>

          <div class="row">
            <div class="col-lg-6">Adresse :</div>
            <div class="col-lg-6">{{stagiaire.Adresse1}}</div>
          </div>

          <div class="row">
            <div class="col-lg-6">Ville :</div>
            <div class="col-lg-6">{{stagiaire.ville}}</div>
          </div>

          <div class="row">
            <div class="col-lg-6">Code Postal :</div>
            <div class="col-lg-6">{{stagiaire.codePostal}}</div>
          </div>

        </div>

        

        <div class="col-lg-5">

          <div class="row">
            <div class="col-lg-6">Permis :</div>
            <div class="col-lg-6"><input type="checkbox" checked="{{stagiaire.permis}}"></div>
          </div>

          <div class="row">
            <div class="col-lg-6">Promotion :</div>
            <div class="col-lg-6">{{stagiaire.promotion}}</div>
          </div>

          <div class="row">
            <div class="col-lg-6">T&eacute;l&eacute;phone fixe :</div>
            <div class="col-lg-6">{{stagiaire.telephoneFixe}}</div>
          </div>

          <div class="row">
            <div class="col-lg-6">T&eacute;l&eacute;phone portable :</div>
            <div class="col-lg-6">{{stagiaire.telephonePortable}}</div>
          </div>

          <div class="row">
            <div class="col-lg-6">E-mail :</div>
            <div class="col-lg-6">{{stagiaire.email}}</div>
          </div>

          <div class="row">
            <div class="col-lg-6">R&eacute;pertoire :</div>
            <div class="col-lg-6"><a href="">{{stagiaire.repertoire}}</a></div>
          </div>

          <div class="row">
            <div class="col-lg-6">Synth&egrave;se des comp&eacute;tences :</div>
            <div class="col-lg-6"><button class="btn btn-primary btn-xs fa fa-pencil fa-lg"></button> <a href="">Fiches de synth&egrave;ses</a></div>
          </div>

        </div>

      </div> <!-- /panel-body -->
    </div> <!-- /panel -->
  </div> <!-- /col-lg -->
</div> <!-- /row -->

<div ui-view="absences"></div>

<!-- <div ui-view="avis"></div>
 -->
<div ui-view="echanges"></div>

<toaster-container toaster-options="{'time-out':5000, 'close-button':true, 'position-class': 'toast-top-left'}"></toaster-container>