<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">
					<i class="fa fa-group"></i> Stagiaires
				</h3>
			</div>
			<div class="panel-body">

				<!-- Filtre de recherche -->
				<div class="row">
					<nav class="navbar navbar-default" role="navigation">
						<div class="container-fluid">
							<form class="navbar-form navbar-right">
								<button type="submit" class="btn btn-primary"
									ng-click="changeMode(DisplayModeEnum.List)">
									<span class="fa fa-bars"></span> Vue liste
								</button>
								<button type="submit" class="btn btn-primary"
									ng-click="changeMode(DisplayModeEnum.Card)">
									<span class="fa fa-th"></span> Vue carte
								</button>
							</form>
							<form class="navbar-form navbar-left">
								<input type="text" class="form-control" placeholder="Recherche"
									ng-model="filterOptions.filterText">
							</form>
						</div>
					</nav>
				</div>

				<!-- Mode affichage liste pour stagiaires -->
				<div class="row">
					<div class="row" ng-show="displayMode===DisplayModeEnum.Card">
						<div class="row col-lg-12">
							<div class="col-lg-3" data-ng-repeat="stagiaire in stagiaires">
								<div class="panel panel-info">

									<div class="panel-heading">
										<div class="row">
											<div class="col-xs-6">
												<img data-ng-src="img" class="cardImage" />
											</div>
											<div class="col-xs-6 text-right">
												<p class="announcement-text">{{stagiaire.prenom + ' ' +
													stagiaire.nom}}</p>
											</div>
										</div>
									</div>
									<!-- panel-heading -->

									<a href="" ng-click="viewDetails()">
										<div class="panel-footer announcement-bottom">
											<div class="row">
												<div class="col-xs-6">D&eacute;tails</div>
												<div class="col-xs-6 text-right">
													<i class="fa fa-arrow-circle-right"></i>
												</div>
											</div>
										</div>
									</a>

								</div>
								<!-- panel -->
							</div>
							<!-- col lg ng-repeat -->
						</div>
						<!-- row col-lg -->
					</div>
					<!-- row ng-hide -->
					<div class='gridStyle' ng-grid="gridOptionsStagiaire"></div>
				</div>





			</div>
			<!-- panel-body -->
		</div>
		<!-- panel -->
	</div>
	<!-- col-lg-12 -->
</div>
<!-- /row -->
