<div class="modal-header">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">
				<i class="fa fa-group"></i>&nbsp;{{title}}
			</h3>
		</div>
	</div>
</div>
<div class="modal-body">

	<div class="panel-body">

		<div class="col-xs-5" ui-tree="options">
			<label>Stagiaires inscrits au cours</label>
			<ol ui-tree-nodes ng-model="promotions" class="node" data-type="promotion">
				<li ng-repeat="promotion in promotions" class="node" ui-tree-node>
					
					<div class="group-title angular-ui-tree-handle"
						ng-show="!promotion.editing">
						<div class="tree-node-content">
							<a class="btn btn-success btn-xs" data-nodrag ng-click="togglePromotion(promotion)">
								<span class="glyphicon" ng-class="{'glyphicon-chevron-right': promotion.collapsed, 'glyphicon-chevron-down': !promotion.collapsed}"></span>
							</a>
							&nbsp;Promotion {{promotion.name}}
						</div>
					</div>
					
					<ol ng-hide="promotion.collapsed" ui-tree-nodes ng-model="promotion.stagiaires" class="node"
						data-type="stagiaire" >
						<li ng-repeat="stagiaire in promotion.stagiaires" class="node"
							ui-tree-node>
							<div class="category-title angular-ui-tree-handle">

								<div>&nbsp;{{stagiaire.stagiaire.nom}}&nbsp;{{stagiaire.stagiaire.prenom}}</div>
							</div>
						</li>
					</ol>
					
				</li><!-- ng-repeat promotion -->
			</ol><!-- ui-tree-nodes promotion -->
		</div><!-- ui-tree promotion -->


		<div class="col-xs-7" ui-tree="options">
			<label>Salles r&eacute;serv&eacute;es</label>
			<a href="" style="margin-left:5px;" class="btn btn-primary btn-xs" data-nodrag ng-click="addInstance()">
				<i class="glyphicon glyphicon-plus"></i>
			</a>
			<ol ui-tree-nodes ng-model="instances" class="node" data-type="instance">
				<li ng-repeat="instance in instances" class="node" ui-tree-node>
				
					<!-- Mode lecture salle -->
					<div class="group-title angular-ui-tree-handle">
						<button class="btn btn-danger btn-xs pull-right" data-nodrag ng-click="removeInstance(instance, $index)">
							<i class="glyphicon glyphicon-remove"></i>
						</button> 
						<button class="btn btn-primary btn-xs pull-right" data-nodrag ng-click="editInstance(instance)" ng-hide="instance.editing">
							<i class="glyphicon glyphicon-pencil"></i>
						</button>
						<button class="btn btn-success btn-xs pull-right" data-nodrag ng-click="saveInstance(instance)" ng-show="instance.editing">
							<i class="fa fa-check"></i>
						</button>
						<div class="tree-node-content">
							<button class="btn btn-success btn-xs" data-nodrag ng-click="toggleInstance(instance)">
								<span class="glyphicon" ng-class="{'glyphicon-chevron-right': instance.collapsed, 'glyphicon-chevron-down': !instance.collapsed}"></span>
							</button>
							&nbsp;{{getSalleLibelle(instance)}}&nbsp;-&nbsp;
							{{getSallePlace(instance)}}&nbsp;place(s)
						</div>
					</div>
					
					<!-- Mode edition salle -->
					<div class="group-title angular-ui-tree-handle" data-nodrag ng-show="instance.editing">
						<form class="form" role="form">
							<div class="form-group">
								
								<!-- Sélection de la salle -->
								<div class="row">
									<div class="col-xs-4">
										<label for="salleSelectionnee">Salle</label> <span
											class="label label-danger"
											data-ng-show="submitted && helpForm.sallesPlanifiees.$error.required">Required!</span>
									</div>
									<div class="col-xs-6">
										<select name="salleSelectionnee"
											ng-model="instance.reservationSalle.salle.id"
											ng-options="s.id as s.libelle for s in referentielSalles"
											class="form-control" required>
											<option value=""></option>
										</select>

									</div>
								</div>
								
								<!-- Sélection d'un formateur -->
								<div class="top-buffer">
									<div class="row">
										<div class="col-xs-4">
											<label>Formateur</label> 
											<span class="label label-danger" ng-show="submitted && helpForm.activitesPlanifiees.$error.required">
												Required!
											</span>
										</div>
										<div class="col-xs-6">
										<div class="has-feedback">
											<input
												type="text" ng-model="newFormateur" class="form-control"
												placeholder="Recherche"
												typeahead="item as (item.nom + ' ' + item.prenom) for item in chargerFormateurs($viewValue)"
												typeahead-loading="chargementItem">
											<span ng-show="chargementItem" class="glyphicon glyphicon-refresh form-control-feedback"></span>
										</div>
										</div>
										
										<div class="col-xs-2"> 
											<button class="btn btn-primary btn-sm" data-nodrag ng-click="addFormateur(instance, newFormateur)">
												<i class="glyphicon glyphicon-plus"></i>
											</button>
										</div>
									</div>
									<!-- Surveillant ajoute -->
									<div class="row top-buffer">
										<div class="col-xs-offset-4 col-xs-6">
											<label>{{instance.surveillant.nom + ' ' + instance.surveillant.prenom}}</label> 
										</div>
										<div class="col-xs-2"> 
											<button class="btn btn-danger btn-sm" data-nodrag ng-click="removeFormateur($index, instance, newFormateur)">
												<i class="fa fa-minus"></i>
											</button>
										</div>
									</div>	
								</div>
								
							</div>

						</form>
					</div><!-- fin Mode edition salle -->
					
					<!-- Stagiaires présents dans l'instance -->
					<ol ng-hide="instance.collapsed" ui-tree-nodes ng-model="instance.stagiaires" data-type="stagiaire" class="node">
						<li ng-repeat="stagiaire in instance.stagiaires" ui-tree-node class="node">
						
							<!-- Mode lecture stagiaire -->
							<div class="category-title angular-ui-tree-handle">
								<button class="btn btn-danger btn-xs pull-right" data-nodrag
									ng-click="removeStagiaireFromInstance(instance, stagiaire)" 
									ng-hide="stagiaire.editing">
									<i class="glyphicon glyphicon-remove"></i>
								</button>
									
								<div>&nbsp;{{stagiaire.stagiaire.nom}}&nbsp;{{stagiaire.stagiaire.prenom}}</div>
							</div>
							
						</li>
					</ol>
				</li>
			</ol><!-- ui-tree-nodes salle -->
		</div><!-- ui-tree salle -->
		
	</div><!-- panel-body -->
</div><!-- modal-body -->

<div class="modal-footer">
	<button name="annulerSubmit" ng-click="annuler()" class="btn btn-primary">Annuler</button>
	<button name="reservationSubmit" ng-disabled="oneIsEditing()" ng-click="reserver()" class="btn btn-primary">R&eacute;server</button>
</div>

