<div class="modal-header">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        <i class="fa fa-group"></i> {{title}}
      </h3>
    </div>
  </div>
</div>

<div class="modal-body">
  
  <form name="absenceForm" role="form">
  
	  <div class="row form-group">
	  	<div class="col-lg-6 col-lg-offset-3">
		  <div class="form-group" ng-class="{'has-error': absenceForm.dateAbsence.$invalid}">
		    <label class="control-label"><i class="fa fa-calendar"></i> Date <small>(as date)</small></label>
		    <input type="text" class="form-control" ng-model="absence.date" data-date-format="dd-MM-yyyy" name="dateAbsence" bs-datepicker>
		  </div>
	    </div>
	  </div>
	  
	  <div class="row form-group">
	  	<div class="row col-lg-offset-3">
		  <div class="btn-group">
			  <button type="button" ng-click="switchMoment('matin')" class="{{classMatin}}">Matin</button>
			  <button type="button" ng-click="switchMoment('apresM')" class="{{classApresM}}">Après-midi</button>
			  <button type="button" ng-click="switchMoment('journee')" class="{{classJournee}}">Toute la journée</button>	
		  </div>
	  	</div>
	  </div>
	  
	  <div class="row form-group">
	  	<button type="button" ng-click="changeType()" class="{{classAbsence}}">{{typeAbsence}}</button>
	  </div>
	  
	  <div class="row" ng-show="!isAbsence && !isFullDay">
		  <div class="form-group col-lg-6 col-lg-offset-3" ng-class="{'has-error': absenceForm.timeRetard.$invalid}">
		    <label class="control-label"><i class="fa fa-clock-o"></i> Time <small>(as number)</small></label>
		    <input type="text" class="form-control" size="5" ng-model="absence.time" 
		    	   data-time-format="HH:mm" data-min-time="{{timeMin}}" data-max-time="{{timeMax}}" 
		    	   name="timeRetard" bs-timepicker>
		  </div>
	  </div>
	  
	  <div class="row form-group">
	  	<div class="col-lg-6 col-lg-offset-3">
		  	<label class="control-label"><i class="fa fa-pencil"></i> Motif </label>
		  	<textarea class="form-control" rows="3" ng-model="absence.motif"></textarea>
	  	</div>
	  </div>
	
   </form>
</div>

<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()">Annuler</button>
  <button class="btn btn-primary" ng-click="ok()">{{okTitle}}</button>
</div>