<div class="panel-body">
	<div class="panel-body">
		
		<div class="row">
			<div class="col-lg-4">Fiche stagiaire : </div>
			<div class="btn-group">
				<label class="btn btn-primary 2" ng-model="stag" btn-radio="STAG_NONE">Aucun</label>
				<label class="btn btn-primary 2" ng-model="stag" btn-radio="STAG_NONE">Lecture</label>
			</div>
		</div>
	
		<div class="row">
			<div class="btn-group">
				<label class="btn btn-primary 2" ng-model="stag_abs" btn-radio="ABS_EDIT">Edition absence</label>
				<label class="btn btn-primary 2" ng-model="stag_ech" btn-radio="ECHA_EDIT">Edition echanges</label>
				<label class="btn btn-primary 2" ng-model="stag_avis" btn-radio="AVIS_EDIT">Edition avis</label>
				
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-4">Evaluation : </div>
			<div class="btn-group">
				<label class="btn btn-primary 2" ng-model="radioModel" btn-radio="EVA_NONE">Aucun</label>
				<label class="btn btn-primary 2" ng-model="radioModel" btn-radio="EVA_VIEW">Lecture</label>
				<label class="btn btn-primary 2" ng-model="radioModel" btn-radio="EVA_EDIT">Ecriture</label>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-4">Session validation : </div>
			<div class="btn-group">
				<label class="btn btn-primary 2" ng-model="radioModel" btn-radio="SESS_NONE">Aucun</label>
				<label class="btn btn-primary 2" ng-model="radioModel" btn-radio="SESS_VIEW">Lecture</label>
				<label class="btn btn-primary 2" ng-model="radioModel" btn-radio="SESS_EDIT">Ecriture</label>
			</div>
		</div>
		
		
		<div class="row">
			<div class="col-lg-4">Planning : </div>
			<div class="btn-group">
				<label class="btn btn-primary 2" ng-model="radioModel" btn-radio="PLAN_NONE">Aucun</label>
				<label class="btn btn-primary 2" ng-model="radioModel" btn-radio="PLAN_VIEW">Lecture</label>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-4">Cours (planning) : </div>
			<div class="btn-group">
				<label class="btn btn-primary 2" ng-model="radioModel" btn-radio="PCOUR_NONE">Aucun</label>
				<label class="btn btn-primary 2" ng-model="radioModel" btn-radio="PCOUR_VIEW">Lecture</label>
				<label class="btn btn-primary 2" ng-model="radioModel" btn-radio="PCOUR_EDIT">Ecriture</label>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-4">Evaluation (planning) : </div>
			<div class="btn-group">
				<label class="btn btn-primary 2" ng-model="radioModel" btn-radio="PEVA_NONE">Aucun</label>
				<label class="btn btn-primary 2" ng-model="radioModel" btn-radio="PEVA_VIEW">Lecture</label>
				<label class="btn btn-primary 2" ng-model="radioModel" btn-radio="PEVA_EDIT">Ecriture</label>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-4">Session validation (planning) : </div>
			<div class="btn-group">
				<label class="btn btn-primary 2" ng-model="radioModel" btn-radio="PSESS_NONE">Aucun</label>
				<label class="btn btn-primary 2" ng-model="radioModel" btn-radio="PSESS_VIEW">Lecture</label>
				<label class="btn btn-primary 2" ng-model="radioModel" btn-radio="PSESS_EDIT">Ecriture</label>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-4">Absence : </div>
			<div class="btn-group">
				<label class="btn btn-primary 2" ng-model="radioModel" btn-radio="ABS_NONE">Aucun</label>
				<label class="btn btn-primary 2" ng-model="radioModel" btn-radio="ABS_VIEW">Lecture</label>
				<label class="btn btn-primary 2" ng-model="radioModel" btn-radio="ABS_EDIT">Ecriture</label>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-4">Avis : </div>
			<div class="btn-group">
				<label class="btn btn-primary 2" ng-model="radioModel" btn-radio="AVIS_NONE">Aucun</label>
				<label class="btn btn-primary 2" ng-model="radioModel" btn-radio="AVIS_VIEW">Lecture</label>
				<label class="btn btn-primary 2" ng-model="radioModel" btn-radio="AVIS_EDIT">Ecriture</label>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-4">Utilisateurs : </div>
			<div class="btn-group">
				<label class="btn btn-primary 2" ng-model="radioModel" btn-radio="UTIL_NONE">Aucun</label>
				<label class="btn btn-primary 2" ng-model="radioModel" btn-radio="UTIL_VIEW">Lecture</label>
				<label class="btn btn-primary 2" ng-model="radioModel" btn-radio="UTIL_EDIT">Ecriture</label>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-4">Titre professionnel : </div>
			<div class="btn-group">
				<label class="btn btn-primary 2" ng-model="titre" btn-radio="TITR_NONE">Aucun</label>
				<label class="btn btn-primary 2" ng-model="titre" btn-radio="TITR_VIEW">Lecture</label>
				<label class="btn btn-primary 2" ng-model="radioModel" btn-radio="TITR_EDIT">Ecriture</label>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-4">Professionnel homologue : </div>
			<div class="btn-group">
				<label class="btn btn-primary 2" ng-change="droit(HOM_NONE)" ng-model="radioModel" btn-radio="HOM_NONE">Aucun</label>
				<label class="btn btn-primary 2" ng-change="droit('HOM_VIEW')" ng-model="radioModel" btn-radio="HOM_VIEW">Lecture</label>
				<label class="btn btn-primary 2" ng-change="droit('HOM_EDIT')" ng-model="radioModel" btn-radio="HOM_EDIT">Ecriture</label>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-4">Profil : </div>
			<div class="btn-group">
				<label class="btn btn-primary 2" ng-model="radioModel" btn-radio="PROF_NONE">Aucun</label>
				<label class="btn btn-primary 2" ng-model="radioModel" btn-radio="PROF_VIEW">Lecture</label>
				<label class="btn btn-primary 2" ng-model="radioModel" btn-radio="PROF_EDIT">Ecriture</label>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-4">Parametrage Evaluation : </div>
			<div class="btn-group">
				<label class="btn btn-primary 2" ng-model="radioModel" btn-radio="CEVA_NONE">Aucun</label>
				<label class="btn btn-primary 2" ng-model="radioModel" btn-radio="CEVA_VIEW">Lecture</label>
				<label class="btn btn-primary 2" ng-model="radioModel" btn-radio="CEVA_EDIT">Ecriture</label>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-4">Limite planning : </div>
			<div class="btn-group">
				<label class="btn btn-primary 2" ng-model="radioModel" btn-radio="PLAN_LIM0">Aucun</label>
				<label class="btn btn-primary 2" ng-model="radioModel" btn-radio="PLAN_LIM1">1 mois</label>
				<label class="btn btn-primary 2" ng-model="radioModel" btn-radio="PLAN_LIM2">2 mois</label>
				<label class="btn btn-primary 2" ng-model="radioModel" btn-radio="PLAN_LIM3">3 mois</label>
			</div>
		</div>
		
		
	</div>
</div>