<div class="panel-body">
	<div class="row">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid" style="padding-top: 7px;">
				<!-- <form class="navbar-form navbar-left" role="search"> -->
				<input title="Sélectionner un fichier" type="file" nv-file-select=""
					uploader="uploader" multiple />
				<!-- </form> -->
			</div>
		</nav>
	</div>
	<div class="row">
		<label class="control-label">Queue de téléchargement</label>
		<p>Nombre de fichiers: {{ uploader.queue.length }}</p>

		<table class="table">
			<thead>
				<tr>
					<th width="50%">Nom</th>
					<th ng-show="uploader.isHTML5">Taille</th>
					<th ng-show="uploader.isHTML5">Progression</th>
					<th>Statut</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in uploader.queue">
					<td><strong>{{ item.file.name }}</strong></td>
					<td ng-show="uploader.isHTML5" nowrap>{{
						item.file.size/1024/1024|number:2 }} MB</td>
					<td ng-show="uploader.isHTML5">
						<div class="progress" style="margin-bottom: 0;">
							<div class="progress-bar" role="progressbar"
								ng-style="{ 'width': item.progress + '%' }"></div>
						</div>
					</td>
					<td class="text-center"><span ng-show="item.isSuccess"><i
							class="glyphicon glyphicon-ok"></i></span> <span ng-show="item.isCancel"><i
							class="glyphicon glyphicon-ban-circle"></i></span> <span
						ng-show="item.isError"><i
							class="glyphicon glyphicon-remove"></i></span></td>
					<td nowrap>
						<button type="button" class="btn btn-success btn-xs"
							ng-click="item.upload()"
							ng-disabled="item.isReady || item.isUploading || item.isSuccess">
							<span class="glyphicon glyphicon-upload"></span> Uploader
						</button>
						<button type="button" class="btn btn-warning btn-xs"
							ng-click="item.cancel()" ng-disabled="!item.isUploading">
							<span class="glyphicon glyphicon-ban-circle"></span> Annuler
						</button>
						<button type="button" class="btn btn-danger btn-xs"
							ng-click="item.remove()">
							<span class="glyphicon glyphicon-trash"></span> Supprimer
						</button>
					</td>
				</tr>
			</tbody>
		</table>


		<label class="control-label">Progression du téléchargement :</label>

		<div class="progress" style="">
			<div class="progress-bar" role="progressbar"
				ng-style="{ 'width': uploader.progress + '%' }"></div>
		</div>
	</div>
	<div class="row">
		<button type="button" class="btn btn-success btn-s"
			ng-click="uploader.uploadAll()"
			ng-disabled="!uploader.getNotUploadedItems().length">
			<span class="glyphicon glyphicon-upload"></span> Uploader tout
		</button>
		<button type="button" class="btn btn-warning btn-s"
			ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
			<span class="glyphicon glyphicon-ban-circle"></span> Annuler tout
		</button>
		<button type="button" class="btn btn-danger btn-s"
			ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
			<span class="glyphicon glyphicon-trash"></span> Suppimer tout
		</button>
	</div>
</div>