<div class="modal-header">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">
				<i class="fa fa-group"></i> {{title}}
			</h3>
		</div>
	</div>
</div>
<div class="modal-body">
	<form ng-submit="submit()">
		<tabset> <tab heading="Description">
		<div name="generic" sf-schema="schema" sf-form="form" sf-model="data"
			style="margin-top: 15px"></div>
		</tab> <tab heading="Fichiers">
		<div ng-include src="'partials/templates/fichiers.html'"></div>
		</tab> <tab heading="T&eacute;l&eacute;chargement">
		<div ng-include src="'partials/templates/telechargement.html'"></div>
		</tab> </tabset>
		<div>
			<div name="generic" sf-schema="schema" sf-form="form2"
				sf-model="data" style="margin-top: 15px"></div>
		</div>
	</form>
</div>





