<div class="modal-header">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">
				<i class="fa fa-group"></i> Editer/Ajouter une version d'ECF
			</h3>
		</div>
	</div>
</div>
<div class="modal-body">
	<div class="panel-body">
		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-4">Version de l'ECF :</div>
					<div class="col-lg-8">
						<input class="form-control" type="text">
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4">Nom de l'ECF :</div>
					<div class="col-lg-8">
						<input class="form-control" type="text">
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4">Lien vers l'énoncé :</div>
					<div class="col-lg-8">
						<input type="file" id="exampleInputFile">
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4">Lien vers la correction :</div>
					<div class="col-lg-8">
						<input type="file" id="exampleInputFile">
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4">Lien vers la grille de correction :</div>
					<div class="col-lg-8">
						<input type="file" id="exampleInputFile">
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4">Formation :</div>
					<div class="col-lg-8">
						<select class="form-control">
									<option>AL</option>
									<option>MSII</option>
								</select>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4">Module :</div>
					<div class="col-lg-8">
						<select class="form-control">
									<option>Java</option>
									<option>SQL</option>
									<option>Réseau</option>
								</select>
					</div>
				</div>
			</div>
		</div>


	</div>
</div>

<div class="modal-footer">
	<button name="annulerSubmit" data-ng-disabled="progress.active()"
		data-ng-click="cancel()" class="btn btn-primary">Annuler</button>
	<button name="reservationSubmit" data-ng-disabled="progress.active()"
		data-ng-click="ok()" class="btn btn-primary">Enregistrer</button>
</div>
