<div class="modal-header">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">
				<i class="fa fa-group"></i> Modification ECF
			</h3>
		</div>
	</div>
</div>
<div class="modal-body">
	<div class="panel-body">
		<div class="row">
			<div class="col-lg-2">Nom de l'ECF :</div>
			<div class="col-lg-4">
				<input class="form-control" type="text" value="ECF de java">
			</div>
			<div class="col-lg-2">Salle :</div>
			<div class="col-lg-4">
				<select class="form-control">
					<option>Salle 101</option>
					<option>Salle 201</option>
					<option>Salle 301</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-2">Moniteur :</div>
			<div class="col-lg-4">
				<select class="form-control">
					<option>Mathieu</option>
					<option>Jean</option>
					<option>Jerome</option>
				</select>
			</div>
			<div class="col-lg-2">Version ECF :</div>
			<div class="col-lg-4">
				<select class="form-control">
					<option>Version 1</option>
					<option>Version 2</option>
					<option>Version 3</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-2">Date :</div>
			<div class="col-lg-4">
				<input type="text" class="span2" value="02/16/12"
					data-date-format="mm/dd/yy" id="dp2">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-5">
				<br /> <br /> <br />
				<center>
					<select multiple>
						<option value="volvo">Stagiaire 1</option>
						<option value="saab">Stagiaire 2</option>
						<option value="opel">Stagiaire 4</option>
						<option value="audi">Stagiaire 5</option>
					</select>
				</center>
			</div>
			<div class="col-lg-2">
				<br /> <br />
				<center>
					<button>>></button>
					<br />
					<button>></button>
					<br />
					<button><</button>
					<br />
					<button><<</button>
				</center>
			</div>
			<div class="col-lg-5">
				Recherche : <input class="form-control" type="text">
				<center>
					<select multiple>
						<option value="volvo">Stagiaire 1</option>
						<option value="saab">Stagiaire 2</option>
						<option value="opel">Stagiaire 4</option>
						<option value="audi">Stagiaire 5</option>
					</select>
				</center>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button name="annulerSubmit" data-ng-disabled="progress.active()"
		data-ng-click="cancel()" class="btn btn-primary">Annuler</button>
	<button name="reservationSubmit" data-ng-disabled="progress.active()"
		data-ng-click="ok()" class="btn btn-primary">Enregistrer</button>
</div>