<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list-alt"></i> Liste des ECF</h3>
      </div>
      <div class="panel-body">
		<div class="row">
			<div class="col-lg-3">
				<div class="row">
					<div class="col-lg-12">
					  Recherche : 
					  <input class="form-control" type="text">
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
					  Module : 
					  <select class="form-control">
						<option>Java</option>
						<option>SQL</option>
						<option>Réseau</option>
					  </select>
					</div>
				</div>
			</div>
			<div class="col-lg-9">
				<table class="table">
				  <thead>
					<tr>
					  <th>ECF</th>
					  <th>Date</th>
					  <th>Planifier</th>
					</tr>
				  </thead>
				  <tbody>
					<tr>
					  <td><a href="index.html#/editECF">ECF Java</a></td>
					  <td>5 janvier 2014</td>
					  <td><i class="fa fa-check-square-o"></td>
					</tr>
					<tr>
					 <td><a href="index.html#/editECF">ECF C++</a></td>
					  <td>12 janvier 2014</td>
					  <td><i class="fa fa-square-o"></td>
					</tr>
					<tr>
					  <td><a href="index.html#/editECF">ECF .Net</a></td>
					  <td>19 janvier 2014</td>
					  <td><i class="fa fa-check-square-o"></td>
					</tr>
					<tr>
					  <td><a href="index.html#/editECF">ECF SQL</a></td>
					  <td>26 janvier 2014</td>
					  <td><i class="fa fa-square-o"></td>
					</tr>
				  </tbody>
				</table>
			</div>
		</div>
      </div>
    </div>
  </div>
</div> <!-- /row -->