<div class="modal-header">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">
				<i class="fa fa-group"></i>&nbsp;R&eacute;servation des salles : cours de maths du 01/05/2014 au 07/05/2014
			</h3>
		</div>
	</div>
</div>
<div class="modal-body">
	<div class="panel-body">

		<div class="col-xs-6" ui-tree="options">
			<label>Stagiaires inscrits au cours</label>
			<ol ui-tree-nodes ng-model="promotions" class="node"
				data-type="promotion">
				<li ng-repeat="promotion in promotions" class="node" ui-tree-node>
					<div class="group-title angular-ui-tree-handle"
						ng-show="!promotion.editing">

        
						<div class="tree-node-content">
						<a class="btn btn-success btn-xs" data-nodrag ng-click="togglePromotion(promotion)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': promotion.collapsed, 'glyphicon-chevron-down': !promotion.collapsed}"></span></a>
						
						&nbsp;Promotion {{promotion.name}}</div>
					</div>
					
					<ol ng-hide="promotion.collapsed" ui-tree-nodes ng-model="promotion.stagiaires" class="node"
						data-type="stagiaire" >
						<li ng-repeat="stagiaire in promotion.stagiaires" class="node"
							ui-tree-node>
							<div class="category-title angular-ui-tree-handle">

								<div>&nbsp;{{stagiaire.name}}</div>
							</div>
						</li>
					</ol>
					
				</li>
			</ol>
		</div>


		<div class="col-xs-6" ui-tree="options">
			<label>Salles réservées</label><a href="" style="margin-left:5px;"  class="btn btn-danger btn-xs" data-nodrag
								ng-click="addSalle()"><i
								class="glyphicon glyphicon-plus" ></i></a>
			<ol ui-tree-nodes ng-model="salles" class="node" data-type="salle">
				<li ng-repeat="salle in salles" class="node" ui-tree-node>
					<div class="group-title angular-ui-tree-handle"
						ng-show="!salle.editing">
						<a href="" class="btn btn-danger btn-xs pull-right" data-nodrag
							ng-click="removeSalle(salle)"><i
							class="glyphicon glyphicon-remove"></i></a> <a href=""
							class="btn btn-primary btn-xs pull-right" data-nodrag
							ng-click="editSalle(salle)"><i
							class="glyphicon glyphicon-pencil"></i></a>
						<div class="tree-node-content">
						<a class="btn btn-success btn-xs" data-nodrag ng-click="toggleSalle(salle)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': salle.collapsed, 'glyphicon-chevron-down': !salle.collapsed}"></span></a>
						&nbsp;{{getClassName(salle.id)}}</div>
					</div>
					<div class="group-title angular-ui-tree-handle" data-nodrag
						ng-show="salle.editing">
						<form class="form-inline" role="form">
							<div class="form-group">
								<div class="row">
									<div class="col-xs-6">
										<label for="salleSelectionnee">Salle</label> <span
											class="label label-danger"
											data-ng-show="submitted && helpForm.sallesPlanifiees.$error.required">Required!</span>
									</div>
									<div class="col-xs-6">
										<select name="salleSelectionnee"
											data-ng-model="reservation.salleid"
											data-ng-options="obj.id as obj.nom for obj in referentielSalles"
											class="form-control" required>
											<option value=""></option>
										</select>

									</div>
								</div>
								<div class="top-buffer">
									<div class="row">
										<div class="col-xs-6">
											<label for="animateurSelectionne">Animateur</label> <span
												class="label label-danger"
												data-ng-show="submitted && helpForm.activitesPlanifiees.$error.required">Required!</span>
										</div>
										<div class="col-xs-6">
											<select name="animateurSelectionne"
												data-ng-model="reservation.animateurid"
												data-ng-options="obj.value as obj.text for obj in animateursLibres"
												class="form-control" required>
												<option value=""></option>
											</select>
										</div>
									</div>
								</div>
							</div>

							<div class="modal-footer-node">
								<button type="submit" class="btn btn-default"
									ng-click="cancelEditingSalle(salle)">Annuler</button>
								<button type="submit" class="btn btn-default"
									ng-click="saveSalle(salle)">Enregistrer</button>

							</div>

						</form>
					</div>
					<ol ng-hide="salle.collapsed" ui-tree-nodes ng-model="salle.stagiaires" data-type="stagiaire"
						class="node">
						<li ng-repeat="stagiaire in salle.stagiaires" ui-tree-node
							class="node">
							<div class="category-title angular-ui-tree-handle">
								<a href="" class="btn btn-danger btn-xs pull-right" data-nodrag
									ng-click="removeStagiaireFromSalle(salle, stagiaire)"><i
									class="glyphicon glyphicon-remove"></i></a>
								<div>&nbsp;{{stagiaire.name}}</div>
							</div>
						</li>
					</ol>
				</li>
			</ol>
		</div>
	</div>
</div>

<div class="modal-footer">
	<button name="annulerSubmit" data-ng-disabled="progress.active()"
		data-ng-click="annuler()" class="btn btn-primary">Annuler</button>
	<button name="reservationSubmit" data-ng-disabled="progress.active()"
		data-ng-click="reserver()" class="btn btn-primary">Réserver</button>
</div>

