<div class="modal-header">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        <i class="fa fa-group"></i> Création d'une session de validation
      </h3>
    </div>
  </div>
</div>

<div class="modal-body">
  <div class="panel-body">
    <!-- Choix de la date pour la session -->
  	<div class="row">
        <div class="col-lg-6">
            Choix de la date de la session de validation
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div><!-- /col-lg -->
    </div><!-- /row -->

    <!-- Création d'un jury associé à une salle -->
    <div class="row col-lg-12">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">     
          <form class="navbar-form navbar-left" role="search">
            Jury : 
            <div class="form-group">
              <select class="form-control">
                <option ng-repeat="ph in personnesHomologuees">{{ph.nom + ' ' + ph.prenom}}</option>
              </select>
            </div><!-- /form-group -->
            <div class="form-group">
              <select class="form-control">
                <option ng-repeat="ph in personnesHomologuees">{{ph.nom + ' ' + ph.prenom}}</option>
              </select>
            </div><!-- /form-group -->
            Salles : 
            <select class="form-control">
                <option ng-repeat="s in salles">{{s.nom}}</option>
            </select>
            <button class="btn btn-danger">
              <i class="glyphicon glyphicon-plus"></i>
            </button>
          </form>
        </div><!-- /container-fluid -->
      </nav>
    </div><!-- /row -->

    <!-- Liste des stagiaires disponibles pour passer une session de validation -->
    <div class="col-xs-6" ui-tree="options">
      <label>Stagiaires disponible pour une session</label>
      <ol ui-tree-nodes ng-model="promotions" class="node" data-type="promotion">
        <li ng-repeat="promotion in promotions" class="node" ui-tree-node>

          <div class="group-title angular-ui-tree-handle" ng-show="!promotion.editing">
            <div class="tree-node-content">
              <a class="btn btn-success btn-xs" data-nodrag ng-click="togglePromotion(promotion)">
                <span class="glyphicon" 
                      ng-class="{'glyphicon-chevron-right': promotion.collapsed, 'glyphicon-chevron-down': !promotion.collapsed}">
                </span>
              </a>
              &nbsp;Promotion {{promotion.name}}
            </div>
          </div><!-- /angular-ui-tree-handle -->
          
          <ol ng-hide="promotion.collapsed" ui-tree-nodes ng-model="promotion.stagiaires" class="node" data-type="stagiaire" >
            <li ng-repeat="stagiaire in promotion.stagiaires" class="node" ui-tree-node>
              <div class="category-title angular-ui-tree-handle">
                <div>&nbsp;{{stagiaire.name}}</div>
              </div>
            </li><!-- /ng-repeat ui-tree-node -->
          </ol><!-- /ui-tree-nodes -->
          
        </li><!-- /ng-repeat ui-tree-node -->
      </ol><!-- /ui-tree-nodes -->
    </div><!-- /ui-tree -->

    <!-- Composition d'un jury et une salle disponible pour cette session de validation -->
    <div class="col-xs-6" ui-tree="options">
      <label>Jury et salles réservées</label>
      <ol ui-tree-nodes ng-model="salles" class="node" data-type="salle">
        <li ng-repeat="salle in salles" class="node" ui-tree-node>
          
          <div class="group-title angular-ui-tree-handle" ng-show="!salle.editing">

            <a href="" class="btn btn-danger btn-xs pull-right" data-nodrag ng-click="removeSalle(salle)">
              <i class="glyphicon glyphicon-remove"></i>
            </a>

            <a href="" class="btn btn-primary btn-xs pull-right" data-nodrag ng-click="editSalle(salle)">
              <i class="glyphicon glyphicon-pencil"></i>
            </a>

            <div class="tree-node-content">
              <a class="btn btn-success btn-xs" data-nodrag ng-click="toggleSalle(salle)">
                <span class="glyphicon" ng-class="{'glyphicon-chevron-right': salle.collapsed, 'glyphicon-chevron-down': !salle.collapsed}"></span>
              </a>
              &nbsp;{{getClassName(salle.id)}}
            </div>

          </div><!-- /angular-ui-tree-handle -->

          <div class="group-title angular-ui-tree-handle" data-nodrag ng-show="salle.editing">
            <form class="form-inline" role="form">
              <div class="form-group">

                <div class="row">

                  <div class="col-xs-6">
                    <label for="salleSelectionnee">Salle</label> 
                      <span class="label label-danger"
                            data-ng-show="submitted && helpForm.sallesPlanifiees.$error.required">Required!</span>
                  </div>

                  <div class="col-xs-6">
                    <select name="salleSelectionnee" data-ng-model="reservation.salleid"
                            data-ng-options="obj.id as obj.nom for obj in referentielSalles"
                            class="form-control" required>
                      <option value=""></option>
                    </select>

                  </div>
                </div><!-- /row -->

                <div class="top-buffer">
                  <div class="row">

                    <div class="col-xs-6">
                      <label for="animateurSelectionne">Animateur</label> 
                        <span class="label label-danger"
                              data-ng-show="submitted && helpForm.activitesPlanifiees.$error.required">Required!</span>
                    </div>

                    <div class="col-xs-6">
                      <select name="animateurSelectionne"
                              data-ng-model="reservation.animateurid"
                              data-ng-options="obj.value as obj.text for obj in animateursLibres"
                              class="form-control" required>
                        <option value=""></option>
                      </select>
                    </div>

                  </div><!-- /row -->
                </div><!-- /top-buffer -->

              </div><!-- /form-group -->

              <div class="modal-footer-node">
                <button type="submit" class="btn btn-default" ng-click="cancelEditingSalle(salle)">Annuler</button>
                <button type="submit" class="btn btn-default" ng-click="saveSalle(salle)">Enregistrer</button>
              </div>

            </form>
          </div> <!-- /angular-ui-tree-handle -->

          <ol ng-hide="salle.collapsed" ui-tree-nodes ng-model="salle.stagiaires" data-type="stagiaire" class="node">
            <li ng-repeat="stagiaire in salle.stagiaires" ui-tree-node class="node">
              <div class="category-title angular-ui-tree-handle">
                <a href="" class="btn btn-danger btn-xs pull-right" data-nodrag ng-click="removeStagiaireFromSalle(salle, stagiaire)">
                  <i class="glyphicon glyphicon-remove"></i>
                </a>
                <div>&nbsp;{{stagiaire.name}}</div>
              </div>
            </li><!-- /ng-repeat ui-tree-node -->
          </ol><!-- /ui-tree-nodes -->

        </li><!-- /ng-repeat ui-tree-node -->
      </ol><!-- /ui-tree-nodes -->
    </div><!-- /ui-tree -->
  
  </div><!-- /panel-body -->
</div><!-- /modal-body -->

<div class="modal-footer">
	<button class="btn btn-primary" ng-click="cancel()">Annuler</button>
	<button class="btn btn-primary" ng-click="ok()">Enregistrer</button>
</div>