<div class="modal-header">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        <i class="fa fa-group"></i> Création d'une session de validation
      </h3>
    </div>
  </div>
</div>

<div class="modal-body">
  <div class="panel-body">
    <!-- Choix de la date pour la session -->
  	<div class="row">
        <div class="col-lg-5">
            Choix de la date de la session de validation
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="dt" 
                     is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" 
                     date-disabled="disabled(date, mode)" ng-required="true" close-text="Close">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div><!-- /col-lg -->
    </div><!-- /row -->

    <!-- Création d'un jury associé à une salle -->
    <div class="row col-lg-12">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">     
          <form class="navbar-form navbar-left" role="search">
            Jury : 
            <div class="form-group">
              <select class="form-control">
                <option ng-repeat="ph in personnesHomologuees">{{ph.nom + ' ' + ph.prenom}}</option>
              </select>
            </div><!-- /form-group -->
            <div class="form-group">
              <select class="form-control">
                <option ng-repeat="ph in personnesHomologuees">{{ph.nom + ' ' + ph.prenom}}</option>
              </select>
            </div><!-- /form-group -->
            Salles : 
            <select class="form-control">
                <option ng-repeat="s in salles">{{s.nom}}</option>
            </select>
            <button class="btn btn-danger">
              <i class="glyphicon glyphicon-plus"></i>
            </button>
          </form>
        </div><!-- /container-fluid -->
      </nav>
    </div><!-- /row -->

    <!-- Liste des stagiaires disponibles pour passer une session de validation -->
    <div class="col-xs-6" ui-tree="options">
      <label>Stagiaires disponible pour une session</label>
      
      <!-- Ajouter une promotion dans l'arbre -->
      <ol class="node angular-ui-tree-nodes">
        <li class="node angular-ui-tree-node">
          <div class="group-title angular-ui-tree-handle">
            <form role="form" class="form-inline">
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-8">
                    <input type="text" class="form-control" placeholder="Rechercher une promotion">
                  </div>
                  <div class="col-lg-4">
                    <a class="btn btn-success pull-right">
                      <i class="glyphicon glyphicon-plus"></i>
                    </a>
                  </div>
                </div><!-- /row -->
              </div><!-- /form-group -->
            </form> 
          </div><!-- /angular-ui-tree-handle -->          
        </li><!-- /ng-repeat ui-tree-node -->
      </ol><!-- /ui-tree-nodes -->

      <!-- Liste des promotions pouvant être placées dans une sessions -->
      <ol ui-tree-nodes ng-model="promotions" class="node" data-type="promotion">
        <li ng-repeat="promotion in promotions" class="node" ui-tree-node>

          <div class="group-title angular-ui-tree-handle" ng-show="!promotion.editing">
            <div class="tree-node-content">
              <!-- Nom de la promotion et bouton pour dérouler la liste des stagiaires -->
              <a class="btn btn-success btn-xs" data-nodrag ng-click="togglePromotion(promotion)">
                <span class="glyphicon" 
                      ng-class="{'glyphicon-chevron-right': promotion.collapsed, 'glyphicon-chevron-down': !promotion.collapsed}">
                </span>
              </a>
              &nbsp;Promotion {{promotion.name}}
            </div>
          </div><!-- /angular-ui-tree-handle -->
          
          <!-- Liste des stagiaires associés à la promotion -->
          <ol ng-hide="promotion.collapsed" ui-tree-nodes ng-model="promotion.stagiaires" class="node" data-type="stagiaire" >
            <li ng-repeat="stagiaire in promotion.stagiaires" class="node" ui-tree-node>
              <div class="category-title angular-ui-tree-handle">
                <div>&nbsp;{{stagiaire.name}}</div>
              </div>
            </li><!-- /ng-repeat ui-tree-node -->
          </ol><!-- /ui-tree-nodes -->
          
        </li><!-- /ng-repeat ui-tree-node -->
      </ol><!-- /ui-tree-nodes -->
    </div><!-- /ui-tree -->

    <!-- Composition d'un jury et une salle disponible pour une session de validation -->
    <div class="col-xs-6" ui-tree="options">
      <label>Sessions créées</label>
      <ol ui-tree-nodes ng-model="sessionsValidation" class="node" data-type="session">
        <li ng-repeat="session in sessionsValidation" class="node" ui-tree-node>
          
          <!-- Mode normal du noeud jury/salle -->
          <div class="group-title angular-ui-tree-handle" ng-show="!session.editing">
            <!-- Supprimer la session créée -->
            <a href="" class="btn btn-danger btn-xs pull-right" data-nodrag ng-click="removeSession(session)">
              <i class="glyphicon glyphicon-remove"></i>
            </a>
            <!-- Editer la session créée -->
            <a href="" class="btn btn-primary btn-xs pull-right" data-nodrag ng-click="editSession(session)">
              <i class="glyphicon glyphicon-pencil"></i>
            </a>
            <!-- Affichage des infos de la session et bouton pour dérouler la liste des stagiaires-->
            <div class="tree-node-content">
              <a class="btn btn-success btn-xs" data-nodrag ng-click="toggleSession(session)">
                <span class="glyphicon" ng-class="{'glyphicon-chevron-right': session.collapsed, 'glyphicon-chevron-down': !session.collapsed}"></span>
              </a>
              &nbsp;{{session.salle}}&nbsp;-&nbsp;{{session.premierePersonne}}&nbsp;-&nbsp;{{session.deuxiemePersonne}}
            </div>

          </div><!-- /angular-ui-tree-handle -->

          <!-- Mode edition du noeud jury/salle -->
          <div class="group-title angular-ui-tree-handle" data-nodrag ng-show="session.editing">
            <form class="form-inline" role="form">
              <div class="form-group">

                <div class="row">

                  <div class="col-xs-6">
                    Jury :
                  </div>

                  <div class="col-xs-6">
                    <select class="form-control" ng-model="newSession.firstPerson" required>
                      <option ng-repeat="ph in personnesHomologuees">{{ph.nom + ' ' + ph.prenom}}</option>
                    </select>
                  </div>

                  <div class="col-xs-6">
                    <select class="form-control" ng-model="newSession.firstPerson" required>
                      <option ng-repeat="ph in personnesHomologuees">{{ph.nom + ' ' + ph.prenom}}</option>
                    </select>
                  </div>

                </div><!-- /row -->

                <div class="top-buffer">
                  <div class="row">

                    <div class="col-xs-6">
                      Salle :
                    </div>

                    <div class="col-xs-6">
                      <select ng-model="reservation.animateurid" ng-options="s.nom for s in salles" 
                              class="form-control" required>
                        <option value=""></option>
                      </select>
                    </div>

                  </div>
                </div>

              </div><!-- /form-group -->

              <div class="modal-footer-node">
                <button type="submit" class="btn btn-default" ng-click="cancelEditingSession(session)">Annuler</button>
                <button type="submit" class="btn btn-default" ng-click="saveSession(session)">Enregistrer</button>
              </div>

            </form>
          </div> <!-- /angular-ui-tree-handle -->

          <ol ng-hide="session.collapsed" ui-tree-nodes ng-model="session.stagiaires" data-type="stagiaire" class="node">
            <li ng-repeat="stagiaire in session.stagiaires" ui-tree-node class="node">
              <div class="category-title angular-ui-tree-handle">
                <a href="" class="btn btn-danger btn-xs pull-right" data-nodrag ng-click="removeStagiaireFromSession(session, stagiaire)">
                  <i class="glyphicon glyphicon-remove"></i>
                </a>
                <div>&nbsp;{{stagiaire.name}}</div>
              </div>
            </li><!-- /ng-repeat ui-tree-node -->
          </ol><!-- /ui-tree-nodes -->

        </li><!-- /ng-repeat ui-tree-node -->
      </ol><!-- /ui-tree-nodes -->
    </div><!-- /ui-tree -->
  
  </div><!-- /panel-body -->
</div><!-- /modal-body -->

<div class="modal-footer">
	<button class="btn btn-primary" ng-click="cancel()">Annuler</button>
	<button class="btn btn-primary" ng-click="ok()">Enregistrer</button>
</div>