<div class="modal-header">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">
				<i class="fa fa-group"></i> Modification du profil de Dupond Jean
			</h3>
		</div>
	</div>
</div>
<div class="modal-body">
	<div class="panel-body">

		<div class="row">
			<div class="col-lg-12">
				Profil : <select class="form-control">
					<option>Admin</option>
					<option>Formateur</option>
					<option>...</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				Formation : <select class="form-control">
					<option>Tous</option>
					<option>AL</option>
					<option>MSII</option>
					<option>...</option>
				</select>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button name="annulerSubmit" data-ng-disabled="progress.active()"
		data-ng-click="cancel()" class="btn btn-primary">Annuler</button>
	<button name="reservationSubmit" data-ng-disabled="progress.active()"
		data-ng-click="ok()" class="btn btn-primary">Enregistrer</button>
</div>