<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-group"></i> Liste des jury</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class='gridStyle' ng-grid="gridOptionsJury"></div>
        </div>
        <div class="row">
          <button class="btn btn-primary" ng-click="afficherFenetreEdition()">Ajouter une nouvelle personne</button>
        </div>
      </div> <!-- panel-body -->
    </div> <!-- panel -->
  </div> <!-- col-lg-12 -->
</div> <!-- /row --> 