<div class="modal-header">
	<div class="panel panel-primary">
		<div class="panel-heading">
		  <h3 class="panel-title">
		    <i class="fa fa-group"></i> Création d'un professionnel homologué
		  </h3>
		</div>
	</div>
</div>

<div class="modal-body">
	
	<form sf-schema="schema" sf-form="form" sf-model="data"></form>
	
</div>

<div class="modal-footer">
	<button class="btn btn-primary" ng-click="cancel()">Annuler</button>
	<button class="btn btn-primary" ng-click="ok(data)">Enregistrer</button>
</div>