<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-group"></i> Création de modèle</h3>
      </div>
      <div class="panel-body">
        <div class="col-lg-3">
          Nom du modèle <input class="form-control" type="text">
        </div>
        <div class="col-lg-3">
          Element : 
          <select class="form-control">
            <option>Test<option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div> <!-- /row -->