<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-group"></i> Stagiaires</h3>
      </div>
      <div class="panel-body">
        <div class="col-lg-3">
            <img src="http://placehold.it/200x200">
        </div>
        <div class="row">
          <div class="col-lg-2">
            <div class="row">
              Nom : {{stagiaireSelected[0].nom}}
            </div>
            <div class="row">
              Prénom : {{stagiaireSelected[0].prenom}}
            </div>
            <div class="row">
              Âge : {{stagiaireSelected[0].age}}
            </div>
            <div class="row">
              Promotion : {{stagiaireSelected[0].promotion}}
            </div>
          </div>
        </div> <!-- row -->
      </div> <!-- /panel-body -->
    </div> <!-- /panel -->
  </div> <!-- /col-lg -->
</div> <!-- /row -->

<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a data-toggle="collapse" data-target="#collapseAbsences" 
            href="#/detailStagiaire#collapseAbsences">
            <i class="fa fa-calendar"></i> Absences
          </a>
        </h3>
      </div><!-- /panel-heading -->
      <div id="collapseAbsences" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="row" ng-repeat="ab in absences">
            {{ab.date}} - {{ab.heure}} - {{ab.motif}} 
          </div>
        </div><!-- /panel-body -->
      </div><!-- /collapse -->
    </div><!-- /panel -->
  </div><!-- /col-lg -->

  <div class="col-lg-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a data-toggle="collapse" data-target="#collapseAvis" 
            href="#/detailStagiaire#collapseAvis">
            <i class="fa fa-group"></i> Avis
          </a>
        </h3>
      </div><!-- /panel-heading -->
      <div id="collapseAvis" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="row" ng-repeat="av in avis">
            {{av.formateur}} - {{av.date}} - {{av.avis}} 
          </div>
        </div><!-- /panel-body -->
      </div><!-- /collapse -->
    </div><!-- /panel -->
  </div><!-- /col-lg -->

  <div class="col-lg-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a data-toggle="collapse" data-target="#collapseEchanges" 
            href="#/detailStagiaire#collapseEchanges">
            <i class="fa fa-group"></i> Historiques des échanges
          </a>
        </h3>
      </div><!-- /panel-heading -->
      <div id="collapseEchanges" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="row">
          </div>
        </div><!-- /panel-body -->
      </div><!-- /collapse -->
    </div><!-- /panel -->
  </div><!-- /col-lg -->
</div> <!-- /row -->

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a data-toggle="collapse" data-target="#collapsePlanning" 
            href="#/detailStagiaire#collapsePlanning">
            <i class="fa fa-file-text"></i> Planning individuel
          </a>
        </h3>
      </div><!-- /panel-heading -->
      <div id="collapsePlanning" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="col-lg-8">
            <div class='gridStyle' ng-grid="gridOptionsPlanning"></div>
          </div>
          <div class="col-lg-4">
            <div ng-switch on="planningSelected[0].type">
              <div ng-switch-when="Cours">
                cours
              </div>
              <div ng-switch-when="ECF">
                ECF
              </div>
              <div ng-switch-when="Session de validation">
                Session de validation
              </div>
            </div>
          </div>
        </div><!-- /panel-body -->
      </div><!-- /collapse -->
    </div><!-- /panel -->
  </div><!-- /col-lg -->
</div> <!-- /row -->

<div class="row">
  <a class="btn btn-primary fa fa-arrow-left" href="#/consultationStagiaires">&nbsp;Retour Recherche stagiaire</a>
</div>