<div class="panel">
  <a class="btn btn-primary fa fa-arrow-left" href="#/consultationStagiaires">&nbsp;Retour Recherche stagiaire</a>
</div>

<!-- Detail du stagiaire, informations générales -->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-group"></i> Détails</h3>
      </div>
      <div class="panel-body">
        <div class="col-lg-3">
            <img src="http://placehold.it/200x200">
        </div>
        <div class="row">
          <div class="col-lg-2">
            <div class="row">
              Nom : {{stagiaireSelected.nom}}
            </div>
            <div class="row">
              Prénom : {{stagiaireSelected.prenom}}
            </div>
            <div class="row">
              Âge : {{stagiaireSelected.age}}
            </div>
            <div class="row">
              Promotion : {{stagiaireSelected.promotion}}
            </div>
          </div>
        </div> <!-- /row -->
      </div> <!-- /panel-body -->
    </div> <!-- /panel -->
  </div> <!-- /col-lg -->
</div> <!-- /row -->

<!-- Liste des absences du stagiaire -->
<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <div class="row">
            <div class="col-lg-6"><i class="fa fa-calendar"></i> Absences</div>
            <!-- Bouton edition d'une absence -->
            <button class="btn btn-info btn-xs col-lg-offset-5">
              <i class="glyphicon glyphicon-plus"></i>
            </button>
          </div>
        </h3>
      </div><!-- /panel-heading -->
      <div class="panel-body">
        <div class="row" ng-repeat="ab in absences">
          {{ab.date}} - {{ab.heure}} - {{ab.motif}} 
        </div>
      </div><!-- /panel-body -->
    </div><!-- /panel -->
  </div><!-- /col-lg -->

  <!-- Liste des avis d'un stagiaire -->
  <div class="col-lg-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <div class="row">
            <div class="col-lg-6"><i class="fa fa-group"></i> Avis</div>
            <!-- Bouton edition d'un avis -->
            <button class="btn btn-info btn-xs col-lg-offset-5">
              <i class="glyphicon glyphicon-plus"></i>
            </button>
          </div>
        </h3>
      </div><!-- /panel-heading -->
      <div class="panel-body">
        <div class="row" ng-repeat="av in avis">
          {{av.formateur}} - {{av.date}} - {{av.avis}} 
        </div>
      </div><!-- /panel-body -->
    </div><!-- /panel -->
  </div><!-- /col-lg -->

  <!-- Liste des échanges d'un stagiaire -->
  <div class="col-lg-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-group"></i> Historiques des échanges
        </h3>
      </div><!-- /panel-heading -->
      <div class="panel-body">
        <div class="row">
        </div>
      </div><!-- /panel-body -->
    </div><!-- /panel -->
  </div><!-- /col-lg -->
</div> <!-- /row -->

<!-- Planning individuel du stagiaire sous forme de tableau -->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-file-text"></i> Planning individuel
        </h3>
      </div><!-- /panel-heading -->
      <div class="panel-body">
        <div class="col-lg-8">
          <div class='gridStyle' ng-grid="gridOptionsPlanning"></div>
        </div>
        <!-- Affichage d'un détail correspondant à la ligne sélectionnée -->
        <div class="col-lg-4">
          <div ng-switch on="planningSelected[0].type">
            <div ng-switch-when="Cours">
              cours
            </div>
            <div ng-switch-when="ECF">
              ECF
            </div>
            <div ng-switch-when="Session de validation">
              Session de validation
            </div>
          </div>
        </div>
      </div><!-- /panel-body -->
    </div><!-- /panel -->
  </div><!-- /col-lg -->
</div> <!-- /row -->

<!-- Lien vers la fiche de sunthèse des compétences du stagiaire -->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-file-text"></i> Fiche de synthèse des compétences
        </h3>
      </div><!-- /panel-heading -->
      <div class="panel-body">
        <div class="row">
          <a href="">Fiches de synthèse des évaluations</a>
        </div>
        <div class="row">
          <i>Veuillez glisser déposer un nouveau document afin de remplacer celui-ci</i>
        </div>
        Promotion : 
        <select class="form-control">
            <option>Fiche suivi acquis - ASR</option>
        </select>
      </div><!-- /panel-body -->
    </div><!-- /panel -->
  </div><!-- /col-lg -->
</div> <!-- /row -->