 <div class="col-lg-6 col-lg-offset-3">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        <i class="fa fa-group"></i> Authentification
      </h3>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-lg-6 col-lg-offset-3">
      <input class="form-control" type="text" ng-model="username" placeholder="Login">
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <input type="password" class="form-control" type="text" ng-model="password" placeholder="Mot de passe">
    </div>
  </div>
<br/>
<center>
<button class="btn btn-primary" ng-click="login()">Connexion</button></center>
</div>