<div class="modal-header">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">
				<i class="fa fa-group"></i> Correction de l'ECF
			</h3>
		</div>
	</div>
</div>
<div class="modal-body">
	<div class="panel-body">
		<div class="row">
			<div class="col-lg-6">Module l'ECF :</div>
			<div class="col-lg-6">ECF de java</div>
		</div>
		<div class="row">
			<div class="col-lg-6">Formation :</div>
			<div class="col-lg-6">AL</div>
		</div>
		<div class="row">
			<div class="col-lg-6">Salle :</div>
			<div class="col-lg-6">Salle 101</div>
		</div>
		<div class="row">
			<div class="col-lg-6">Moniteur :</div>
			<div class="col-lg-6">Mathieu</div>
		</div>
		<div class="row">
			<div class="col-lg-6">Version ECF :</div>
			<div class="col-lg-6">Version 3</div>
		</div>
		<div class="row">
			<div class="col-lg-6">Date :</div>
			<div class="col-lg-6">02/16/12</div>
		</div>
		<div class="row">
			<div class="col-lg-6">Lien vers la correction :</div>
			<div class="col-lg-6">
				<a href="">correctionJava4.doc</a>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">Lien vers la grille de correction :</div>
			<div class="col-lg-6">
				<a href="">correctionECF-date-java.doc</a>
			</div>
		</div>

		<div class="row">
			Liste des stagiaire et liens vers les fiches de synthèse
			<table class="table">
				<thead>
					<tr>
						<th>Stagiaire</th>
						<th>Fiche</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Stagiaire 1</td>
						<td><a href="">FicheSynthese.doc</a></td>

					</tr>
					<tr>
						<td>Stagiaire 2</td>
						<td><a href="">FicheSynthese.doc</a></td>

					</tr>
					<tr>
						<td>Stagiaire 3</td>
						<td><a href="">FicheSynthese.doc</a></td>

					</tr>
					<tr>
						<td>Stagiaire 4</td>
						<td><a href="">FicheSynthese.doc</a></td>

					</tr>
				</tbody>
			</table>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<input type="checkbox" name="nom" value="ECF">ECF corrigé</input>
			</div>
			<div class="col-lg-6">
				<a href="">Envoyer les fiches de synthèse</a>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button name="annulerSubmit" data-ng-disabled="progress.active()"
		data-ng-click="cancel()" class="btn btn-primary">Annuler</button>
	<button name="reservationSubmit" data-ng-disabled="progress.active()"
		data-ng-click="ok()" class="btn btn-primary">Enregistrer</button>
</div>